body {
	background: rgb(255, 255, 255);
	color: rgb(19, 1, 1);
	font-size: larger; 
}

.container {
	max-width: 800px;
}

#title {
	height: 85px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	border: 1px solid;
}

#footer {
	position: fixed;
	width: 100%;
	bottom: 10px;
	left: 0;
	text-align: center;
}

a, .btn-link, a:hover, .btn-link:hover {
	text-decoration: none;
	color: rgb(3, 1, 1);
	font-style: italic;
}
