extends template
block title
  h1 Create your site
block content
  form(action='/createSite', method='POST')
    label(for='name') Directory Name:
    input#name(type='text', name='name', class='form-control')
    br
    label(for='port') Port:
    input#port(type='text', name='port', class='form-control')
    br
    button.button-style(type='submit') Create
