doctype html
head
  link(href='/template.css' rel='stylesheet' type='text/css')
  meta(http-equiv='Content-Type' content='text/html' charset='UTF-8')
  title Site Generator
.content
  ul.ul-navbar
    li
      a#home-link.active(href='index') HOME
    li
      a#create-link(href='create') CREATE
    li
      a#edit-link(href='edit') EDIT
    li
      a#list-link(href='list') LIST
