html
  head
    meta(charset='UTF-8')
    title Site Generator
    <link rel="icon" type="image/png" href="img/favicon.png" />
    link(href='/template.css', rel='stylesheet', type='text/css')
  body
    .container
      .row
        .col
          block content
            div.login
              if error
                p.error #{error}
              form(onsubmit='submitForm(event)', action='/login', method='POST')
                label(for='email') E-mail address:
                input#email(type='text', name='email', placeholder="Example: jack.roma@gmail.com", onfocus="this.placeholder = ''", title="E-mail address", class='form-control' required)
                br
                label(for='password') Password:
                input#password(type='password', name='password', placeholder="************", onfocus="this.placeholder = ''", title="Password", class='form-control' required)
                br
                div.center
                  button.button-login(type='submit') LOG IN
                div.trait
                a.button-register(href="/signup") REGISTER
  footer
    | &copy; Copyright 2023 - albi.grainca@uha.fr - batuhan.goker@uha.fr

