extends template
block content
  .container
    .row
      .col.text-center
          block title
    .row
      .col
        block content
          div.login
            h1 Sign up
            // Bloc pour l'affichage des erreurs
            div#errors
              if errors
                each error in errors
                  p.error= error.msg
            form(onsubmit='submitForm(event)', action='/signup', method='POST')
              label(for='email') E-mail address:
              input#email(type='text', name='email', placeholder="Example: jack.roma@gmail.com", onfocus="this.placeholder = ''", title="E-mail address", class='form-control' required)
              br
              label(for='password') Password:
              input#password(type='password', name='password', placeholder="************", onfocus="this.placeholder = ''", title="Password", class='form-control' required)
              br
              label(for='confirm-password') Confirm Password:
              input#confirm-password(type='password', name='confirm-password', placeholder="************", onfocus="this.placeholder = ''", title="Confirm password", class='form-control' required)
              br
              div.center
                button.button-register(type='submit') SIGN UP
              div.trait
              p.center
              | Are you already registered? Log in
              a#register(href="/login")= " here "
              |!


