extends template
block content
  div.login
    h1 Register yourself:
    form(onsubmit='submitForm(event)', action='/register', method='POST')
      label(for='mail') E-mail address:
      input#directory(type='text', name='login', placeholder="Example: jack.roma@gmail.com", onfocus="this.placeholder = ''", class='form-control' required)
      br
      label(for='password') Password:
      input#name(type='password', name='password', placeholder="************", onfocus="this.placeholder = ''", class='form-control' required)
      br
      div.center
        button.button-style-blue(type='submit') Register
      p
      | Are you already registered? Log in
      a#register(href="/login")= " here "
      |!
