html
  head
    meta(charset='UTF-8')
    title Site Generator
    <link rel="icon" type="image/png" href="img/favicon.png" />
    link(href='/template.css', rel='stylesheet', type='text/css')
  body
    .navbar
      ul.ul-navbar
        li
          a#home-link.active-green(href='index') HOME
        li
          a#create-link(href='create') CREATE
        li
          a#edit-link(href='edit') EDIT
        li
          a#list-link(href='list') LIST
        li 
          a#log-link.active-blue(href='login') Log out
    .container
      .row
        .col.text-center
            block title
      .row
        .col
          block content
      footer
        | &copy; Copyright 2023 - albi.grainca@uha.fr - batuhan.goker@uha.fr
