/*========================================================================
                         Default Font Configuration
========================================================================*/

/*========================================================================
                         Body Configuration
========================================================================*/
body{
	font-family: sans-serif;
	background-color: #E4E4E4;
	text-align : center;
}
/*========================================================================
                         NavBar Styling
========================================================================*/
.active-green {
  background-color: #04AA6D;
}

.ul-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 13px;
  min-width: 140px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#log-link{
	position: absolute;
	right: 8px;
	background-color: #008CBA;
}

#log-link:hover{
	background-color: #197390;
}

#logout-link{
	position: absolute;
	right: 8px;
	background-color: #c3292e;
	min-width: 50px;
}

#logout-link i {
	font-size: 20px;
	transition: transform 0.5s;
}

#logout-link:hover{
	background-color: #910b0b;
}

#logout-link:hover i {
	transform: scale(1.2); /* Agrandit l'icône de 20% lors du survol. */
}


#home-link {
	min-width: 50px;
}

#home-link i{
	font-size: 20px;
	transition: transform 0.5s;
}

#home-link:hover i {
	transform: scale(1.2); /* Agrandit l'icône de 20% lors du survol. */
}


h1{
	margin-top: 40px;
	text-align: center;
	text-decoration: underline;
}

.form{
	margin-top: 50px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	padding: 5px;
	margin-bottom: 5px;
	text-align: left;
	background-color: #333;
    border-radius: 8px;
    border-style: solid;
    border-color: white;
	padding: 30px;
	transition: transform 0.5s ease;
}

.center{
	text-align:center;
}
/*======================================================================
                          Button styling
=======================================================================*/
#button-submit{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 13px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#button-submit:hover{
	filter: brightness(0.85);
}

.button-style-red{
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 10px 13px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-style-red:hover{
	filter: brightness(0.85);
}

.button-style-yellow{
  background-color: #FF9933; /* Yellow */
  border: none;
  color: white;
  padding: 10px 13px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-style-yellow:hover{
	filter: brightness(0.85);
}

.button-style-blue{
  background-color: #008CBA; /* Blue */
  border: none;
  color: white;
  padding: 10px 13px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-style-blue:hover{
	filter: brightness(0.85);
}

.button-login{
	background-color: #008CBA; /* Blue */
	border: none;
	color: white;
	padding: 15px 13px;
	margin-top: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
	width: 100%;
	font-weight: bold;
  }
  
  .button-login:hover{
	  filter: brightness(0.85);
  }

  .button-register{
	background-color: green;
	border: none;
	color: white;
	padding: 15px 13px;
	margin-top: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
	width: 96%;
	font-weight: bold;
  }
  
  .button-register:hover{
	  filter: brightness(0.85);
  }

.form-test-set-name{
	color: black;
	background-color: white;
	border-radius: 8px;
	border-style: solid;
	border-color: white;
	padding: 5px;
	margin-bottom: 5px;
}
.refresh-button {
	display: inline-block;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 20px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	position: absolute;
	top: 55px;
	right: 10px;
}

.delete-button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}
  
.delete-button i {
	color: red;
	font-size: 20px;
	padding: 10px;
	transition: transform 0.5s;
}

.delete-button:hover i {
	transform: scale(1.2); /* Agrandit l'icône de 20% lors du survol. */
}


/*======================================================================
                          Index styling
=======================================================================*/
#welcome-message{
	flex: 1;
	flex-grow: 6;
	flex-basis: 50%;
	text-align: justify;
	width: 70%;
	margin-left: 3%;
	margin-right: 1%;
    color: white;
	background-color: #333;
	border-style: solid;
	border: 3px solid;
	border-color: white;
	font-size: 115%;
	border-radius: 8px;
	padding: 46px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
	transition: transform 0.5s ease;
}

#welcome-message:hover, .index-login:hover {
	transform: scale(1.05);
  }

#welcome-logo{
	width: 250px;
	height: 200px;
}

#inge{
	width: 90px;
	height: 80px;
	position: absolute;
	margin-left: 870px;
	margin-top: -20px;
}

#welcome-title{
	text-align: center;
	text-decoration: underline;
	font-size: 120%;
	font-weight: bold;
}

.texteBlue{
	color: #00FF61;
	font-weight: bold;
}

.texteRed{
	color: red;
	font-weight: bold;
}
/*========================================================================
                         List tab styling
========================================================================*/
.tableau-style{
	border-collapse: collapse;
	min-width: 400px;
	width: auto; 
	box-shadow: 0, 5px, 50px, rgba(0,0,0,0.15);
	cursor: pointer;
	margin: 100px auto;
	border: 2px solid #04AA6D;
}

thead tr{
	background-color: #04AA6D;
	color: white;
	text-align: left;
}

th,td{
	padding: 15px 20px;
}

tbody tr, td, th{
	border: 1px solid #ddd;
}

tbody tr:nth-child(even){
	background-color: white;
}

.form-inline {
	display: inline-block;
	margin-right: 5px;
  }

  .netstat{
	font-weight: bold;
  }
  
/*========================================================================
                         Footer styling
========================================================================*/
footer{
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  margin-top : 15px;
  bottom: 0; left: 0; right: 0;
  position: fixed;
}
/*========================================================================
                         Form styling
========================================================================*/
input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }

  input[type=password], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }
  
  input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  input[type=submit]:hover {
	background-color: #45a049;
  }
/*========================================================================
                         Login/Registration styling
========================================================================*/
.index-login{
	flex: 1;
	flex-grow: 3;
	flex-basis: 30%;
	width: 10%;
	margin-right: 3%;
	margin-left: 1%;
	color: white;
	padding: 30px;
	text-align: left;
	background-color: #333;
	border-radius: 8px;
	border-style: solid;
	border-color: white;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
	transition: transform 0.5s ease;
}

.login{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
    color: white;
    padding: 30px;
    margin-bottom: 5px;
    text-align: left;
    background-color: #333;
    border-radius: 8px;
    border-style: solid;
    border-color: white;
	transition: transform 0.5s ease;
}

#register{
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	color: white;
}

.index-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-left: 1%;
	margin-right: 1%;
}

  .trait {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}
  

/*========================================================================
                         MESSAGES 
========================================================================*/
#error-message-name, #error-message-port, #error-message-dbname {
    display: block;
    margin-top: 5px;
  }

.error {
	color: red; 
	font-weight: bold; 
	background-color: #ffe6e6;  
	padding: 10px; 
	margin-bottom: 10px;  
	border: 1px solid red;  
	border-radius: 5px; 
	text-align: center;
}

.success {
	color: green; 
	font-weight: bold; 
	background-color: #ffe6e6;  
	padding: 10px; 
	margin-bottom: 10px;  
	border: 1px solid green;  
	border-radius: 5px; 
	text-align: center;
}
  